<app-encabezado></app-encabezado>
<router-outlet></router-outlet>
<app-footer></app-footer>









<!--<h1 class="container bg-dark text-white text-center my-4 py-4">ngif show= {{show}}</h1>
<div class="container">
    <table class="table">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">TIPO</th>
              <th scope="col">NOMBRE</th>
              <th scope="col">EDAD</th>
          </tr>
      </thead>
      <tbody>

        <tr *ngFor="let animal of animales; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{animal.tipo}}</td>
        <td>{{animal.nombre}}</td>
        <td>{{animal.edad}}</td>
        </tr>
      </tbody>   
    </table>
</div>-->







 <!-- <button class="btn btn-dark mb-3"(click)="activo='primero'">Primero</button>
  <button class="btn btn-danger mb-3"(click)="activo='segundo'">Segundo</button>
  <button class="btn btn-primary mb-5"(click)="activoFull=''">full</button>

  <p class="text-info d-none" [ngClass]="{'d-block':activo=='primero'}">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum est incidunt impedit laudantium? Rem possimus, vero iure et voluptatibus dolore ipsam labore vitae,
     voluptatem quia odio similique? Voluptate, doloremque officiis.
  </p>
  
  <p class="text-danger d-none" [ngClass]="{'d-block':activo=='segundo'}">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum est incidunt impedit laudantium? Rem possimus, vero iure et voluptatibus dolore ipsam labore vitae,
      voluptatem quia odio similique? Voluptate, doloremque officiis.
  </p>-->